{% extends "index.html" %}
{% block body %}
    <div class="pure-u-1-2 center">
        <a href="{{ url_for('blog.add_images')}}">
            <img src="/static/imgs/camera.png" alt="Attach Images" />
            <p>
                Blog post with images.
            </p>
        </a>
    </div>
    <div class="pure-u-1-2 center">
        <a href="{{ url_for('blog.add_post')}}">
            <img src="/static/imgs/write.png" alt="Just Write" />
            <p>
                Just text Blog post.
            </p>
        </a>
    </div>
{% endblock %}