{% extends "index.html" %}
{% block body %}
    <div class="pure-u-1-2">
        {% if images %}
            <p>
                Your available images:
            </p>
            {% for image in images %}
                <code><img src="{{ image }}"/> {{ "<img src="+image+"/> " | e }}</code>
            {% endfor %}
        {% endif %}
        <script src="{{ url_for('static', filename='js/render_html.js') }}"></script>
        {% for errors in error %}<p class=error><strong>Error:</strong> {{ errors }}{% endfor %}
        {% from "macro.html" import render_field %}
        {% from "macro.html" import render_checkboxes %}

        <form method=post action="{{ url_for('blog.add_post') }}" class="pure-form">
            <dl>
                {{ render_field(form.post_title) }}
                {{ render_field(form.post_body) }}
                <div class="post_tag_holder">
                    {% for tag in tag_values %}
                        {{ render_checkboxes(tag_values[tag], class='tag') }}
                    {% endfor %}
                </div>
            </dl>
            <input type=submit class="submit" value="Create Post">
        </form>
    </div>
    <div class="pure-u-1-2">
        <div id=render_title></div>
        <div id=render_body></div>
    </div>
{% endblock %}