{% extends "index.html" %}
    {% block body %}
        {% from "macro.html" import render_field %}
        <form method=post action="{{ url_for('blog.change_login') }}">
            <div class="pure-u-1 center">
                <dl>
                    <h3>Current Login Credentials:</h3>
                    {{ render_field(form.username) }}
                    {{ render_field(form.password) }}
                <h3>New Login Credentials:</h3>
                    {{ render_field(form.new_username) }}
                    {{ render_field(form.new_password_1) }}
                    {{ render_field(form.new_password_2) }}
                </dl>
            </div>
          <div class="center"><input type=submit class=submit value="Update"></div>
        </form>
    {%endblock%}