{% extends "index.html" %}
{% block body %}

  {% for errors in error %}<p class=error><strong>Error:</strong> {{ errors }}{% endfor %}

  {% if post_id %}
  <div class="pure-u-1-2">
    <script src="{{ url_for('static', filename='js/render_html.js') }}"></script>
    {% from "macro.html" import render_field %}

    <form method=post action="{{ url_for('blog.edit', post_id=post_id) }}">
      <dl>
        {{ render_field(form.post_title) }}
        {{ render_field(form.post_body) }}
      </dl>
      <p><input type=submit value="Save Edit">
    </form>

    </div>
    <div class="pure-u-1-2">
        <div id=render_title>{{page_content['title']}}</div>
        <div id=render_body>{{page_content['body_html'] | safe}}</div>
    </div>

  {% else %}
        <div class="pure-u-1">
            <h2>Please select a post for you to edit.</h2>
        {% for key in page_content %}
            <p>
                <a href="{{ url_for('blog.edit', post_id = key) }}">{{ page_content[key] }}</a>
            </p>
        {% endfor %}
        </div>
  {% endif %}


{% endblock %}