{% macro render_field(field, class='None') %}
    <div class="pure-control-group">
        {{ field.label(class_=class)|safe }}
        {{ field(class_=class)|safe }}
        {% if field.errors %}
            <ul class=errors>
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endmacro %}

{% macro render_checkboxes(field, class='None') %}
    {{ field(class_=class)|safe }}
    {{ field.label(class_=class)|safe }}
{% endmacro %}

{% macro render_image(field, class='None') %}
    {{ field(class_=class)|safe }}
    {{ field.label(class_=class)|safe }}
{% endmacro %}