{% extends "index.html" %}
        {% block body %}
                <div class="post-content">
                    <div class="pure-u-1">
                        {% if previous_page %}
                            <span class="position-left"><a href="{{ url_for(preview_url, page=previous_page) }}">Previous Page</a></span>
                        {% endif %}
                        {% if next_page %}
                            <span class="position-right"><a href="{{ url_for(preview_url, page=next_page) }}">Next Page</a></span>
                        {% endif %}
                    </div>
                    {% for post in posts %}
                        <div class="pure-u-1">
                            <span class=post-title>
                                <h1><a id="{{ post.title }}" href="#{{ post.title }}">{{ post.title }}</a></h1>
                            </span>
                            <span class="post-link">
                                <a id="{{ post.id }}" href="{{ url_for(preview_post_url, post_id=post.id) }}">Link to Post</a>
                            </span>
                        </div>
                        <div class="pure-u-1 post-body">
                            <span class=post-body>
                            {{ render_html(post.body) | safe }}
                            </span>
                        </div>
                        <div class="pure-u-1 post_tags_display">
                            {% if post.tags %}
                                {% for tag in post.tags %}
                                    <span class="display_tag">
                                        {{ tag }}
                                    </span>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <hr>
                    {% endfor %}
                    <div class="pure-u-1">
                        {% if previous_page %}
                            <span class="position-left"><a href="{{ url_for(preview_url, page=previous_page) }}">Previous Page</a></span>
                        {% endif %}
                        {% if next_page %}
                            <span class="position-right"><a href="{{ url_for(preview_url, page=next_page) }}">Next Page</a></span>
                        {% endif %}
                    </div>
                </div>
        {%endblock%}