{% extends "index.html" %}
        {% block body %}
                <div class="post-content">
                    {% if posts %}
                        {% for post in posts %}
                            <div class="pure-u-1">
                                <span class=post-title>
                                    <h2><a id="{{ post.title }}" href="#{{ post.title }}">{{ post.title }}</a></h2>
                                </span>
                            </div>
                            <div class="pure-u-1 post-body">
                                <span class=post-body>
                                {{ render_html(post.body) | safe }}
                                </span>
                            </div>
                            <div class="pure-u-1 post_tags_display">
                                {% if post.tags %}
                                    {% for tag in post.tags %}
                                        <span class="display_tag">
                                            {{ tag }}
                                        </span>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <hr>
                        {% endfor %}
                    {% endif %}
                </div>
        {%endblock%}