{% extends "index.html" %}
        {% block body %}
                    {% for post in posts %}
                    <div class="pure-u-1">
                        <span class=post-title>
                            <h2><a id="{{ post.title }}" href="#{{ post.title }}">{{ post.title }}</a></h2>
                        </span>
                    </div>
                    <div class="pure-u-1 post-body">
                        <span class=post-title>
                        {{ render_html(post.body) | safe }}
                        </span>
                    </div>
                    <hr>
                    {%endfor%}
        {%endblock%}